@page "/generate"
@using System.Net.Http.Headers
@using System.Text.Json
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigator


<PageTitle>Generate your project</PageTitle>

<h1>Generate your project</h1>

<p role="status">Before you import your file, just make sure it's in the correct format with all the modules, properties and types as described in our tutorials here: </p>

<hr />

<InputFile OnChange="@LoadFiles" />

@code {

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        using var content = new MultipartFormDataContent();
        var file = e.File;
        var fileContent = new StreamContent(file.OpenReadStream());
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

        content.Add(content: fileContent, name: "\"files\"", fileName: file.Name);
        var client = ClientFactory.CreateClient();

        var response = await client.PostAsync(Navigator.BaseUri+"api/Projects?tool=1", content);

        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                };

            var responseStream =
                await response.Content.ReadAsStringAsync();

            await jsRuntime.InvokeAsync<object>("open", responseStream, "_blank");
        }

    }
}
