@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to MinMaNet!</h1>

This is an open source project to help developers to build the CRUD initial functionalities for their systems based on a Mind Map mode. 

<hr />

The idea is to create a Mind Map with the clients of the application because it is a very good tool to show the modules in a clear way that the no-tech people will be able to visualize each of the modules and properties of the system. 
<br/>
At the moment, the only tool available is <a target="_blank" class="font-weight-bold link-dark" href="https://mindmaps.app/">MindMaps.App</a> 
and the only language to be generated is C# in <a target="_blank" class="font-weight-bold link-dark" href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0">.Net 6 platform</a>  .

<SurveyPrompt Title="Access MindMap App here: " Link="https://mindmaps.app/" Description=""  />

<hr/>

<h4>Please, take a look into our tutorials here in English and Portuguese to help you to start to use MinMaNet.App!</h4>